@mixin hover {
    &:hover {
        background-color: var(--fg-alt)
    }

    transition: background-color .2s ease;

}


.mangas {
    padding: 1rem 0;

    h3 {
        margin-bottom: 1.3rem;
        margin-left: 1rem;
    }

    h2 {
        font-size: 40px;
        margin: 0 0 1rem .5rem;
    }

    .mangas_grid {
        display: grid;
        grid-template-columns: 2fr 1fr;
        place-items: start;

        &>div {
            width: 100%;
        }
    }

    .genres_holder {

        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 5px;
        background-color: var(--fg-comp);
        padding: 1rem .7rem;
        border-radius: 10px;

        p {
            @include hover();
            background-color: var(--fg);
            color: var(--color);
            font-size: 13px;
            display: inline-block;
            padding: .5rem;
            margin: 0;
            border-radius: 10px;
            min-width: 3rem;
        }
    }

    .menu {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        margin-bottom: 2rem;
        color: var(--color);

        a {
            @include hover();
            background-color: var(--fg);
            padding: 1rem;
            border-radius: 30px;
            min-width: 3rem;

        }
    }
}

@media screen and (max-width: 700px) {
    .mangas {

        .content {

            display: flex;
            flex-direction: column;
            text-align: center;
        }
    }
}