.genres {

    h2 {
        font-size: 40px;
        margin: 1rem .5rem;
    }

    .content {
        display: grid;
        grid-template-columns: 2fr 1fr;
        place-items: start;

        h3 {
            margin-bottom: 1.3rem;
            margin-left: 1rem;
        }

        .holder {
            display: flex;
            flex-wrap: wrap;
            gap: 2px;
            font-size: 14px;
            justify-content: space-around;
            margin-bottom: 1rem;


            &>p {
                padding: .5rem;
                margin: 0 0 10px 0;
                border-radius: 10px;
                color: var(--font-alt);
                background-color: var(--bg-comp);
            }
        }
    }

    .menu {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        margin-bottom: 2rem;
        color: var(--font-alt);

        a {
            &:hover {
                background-color: var(--fg)
            }

            background-color: var(--bg-comp);
            padding: 1rem;
            border-radius: 30px;
            min-width: 3rem;
            transition: background-color .2s ease;

        }
    }
}

@media screen and (max-width: 700px) {
    .genres {

        .content {

            display: flex;
            flex-direction: column;
            text-align: center;
        }
    }
}