.paginations {
    display: flex;
    justify-content: center;
    margin: 0 2rem 1rem 2rem;
    color: var(--font-alt);

    &>div {
        display: flex;
        list-style-type: none;
        padding: 0 1rem;
        border-radius: 20px;
        background-color: var(--fg);

        gap: 6px;

        li {
            text-decoration: none;
            margin: 0;
        }

        a {
            display: inline-block;
            padding: .5rem;
            font-weight: 600;
            cursor: pointer;
        }

        .active {
            background-color: var(--bg-comp);
            box-shadow: -2px 0 snow, 2px 0 snow;
        }
    }

}