.paginations {
    display: flex;
    justify-content: center;
    margin: 1.5rem 2rem 1.5rem 2rem;

    &>div {
        display: flex;
        list-style-type: none;
        padding: 0 1rem;
        border-radius: 20px;
        overflow: hidden;

        gap: 6px;

        li {
            text-decoration: none;
            margin: 0;
        }

        a {
            &:first-child {
                border-radius: 10px 0 0 10px;
            }

            &:last-child {
                border-radius: 0 10px 10px 0;
            }

            color: var(--color);

            border-radius: 5px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            background-color: var(--fg);
            padding: .5rem;
            width: 35px;
            font-weight: 600;
            cursor: pointer;
        }

        .active {
            background-color: transparent;
            width: 40px;
            color: inherit;
            border: 2px solid var(--fg);
        }
    }

}