@mixin boxes {
    background-color: var(--bg-dark-comp);
    color: var(--font-alt);
    display: inline-flex;
    padding: .4rem;
    border-radius: 10px;
    padding: 1rem;
}


.book {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    .images {
        img {
            border-radius: 10px;
            object-fit: cover;
            margin-top: 1.2rem;

            min-width: 200px;
            min-height: 300px;
            max-width: 200px;
            max-height: 300px;

        }

    }

    &>div {

        display: block;
        margin-left: auto;
        margin-right: auto;

        &>div {
            display: flex;
            gap: 30px;
            justify-content: space-around;
            max-width: 900px;

            span {
                display: flex;
                flex-direction: column;

                h2 {
                    font-size: 42px;
                }

                p {
                    @include boxes()
                }

                .genres {
                    display: flex;
                    gap: 20px;
                }
            }
        }


    }

    .about {

        display: flex;
        gap: 20px;

        p,
        h2 {
            @include boxes();
            max-width: 900px;
            display: inline-block;
            margin-left: auto;
            margin-right: auto;
        }
    }

}

@media screen and (max-width:700px) {
    .book {
        flex-direction: column;
        align-items: center;

        &>div {
            &>div {
                flex-direction: column;
                align-items: center;
            }
        }

        .about {
            flex-direction: column;
        }
    }
}