@mixin boxes {
    background-color: var(--fg-comp);
    color: var(--color);
    display: inline-flex;
    border-radius: 10px;
    padding: 1rem;
}


.book {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    color: inherit;

    .images {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            border: 2px solid var(--fg);
            border-radius: 10px;
            object-fit: cover;

            min-width: 200px;
            min-height: 300px;
            max-width: 200px;
            max-height: 300px;

        }

    }

    &>div {
        display: flex;
        gap: 30px;
        margin: 0 1rem 0 2rem;

        &>span {
            display: flex;
            flex-direction: column;
            justify-content: center;

            h2 {
                font-size: clamp(30px, 10vw, 50px);
                margin: 0;
            }

            h4 {
                margin: 0;
                margin-bottom: 1rem;
            }

            div {
                display: flex;
                gap: 10px;

                p {
                    @include boxes();
                    padding: .5rem;

                    svg {
                        font-size: 20px;
                    }
                }
            }

            .capsule {
                display: flex;
                gap: 10px;
                font-size: 14px;
                flex-wrap: wrap;

                a {
                    &:hover {
                        background-color: var(--fg)
                    }

                    @include boxes();
                    border-radius: 35px;
                    padding: .5rem .7rem;
                    transition: background-color .2s ease-out;
                }
            }

            .bookOpt {
                font-size: 20px;

                p {
                    cursor: pointer;
                }

                svg {
                    font-size: 25px;
                }

                .read {
                    background-color: #55558B;
                    display: flex;
                    align-items: center;
                }

                span {
                    display: flex;
                    align-items: center;

                    p {
                        background-color: transparent;
                        cursor: default;

                    }
                }

            }

        }


    }

    .about {

        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: flex-start;
        margin: 0 .7rem;
        gap: 10px;

        div {
            @include boxes();
            transition: background-color .2s ease-out;
            max-width: 900px;
            text-align: justify;
            width: 100%;
            margin: 0;
            margin-bottom: 1rem;

            h2 {
                font-size: 20px;
            }
        }

        .status {
            color: var(--color);
            display: flex;
            flex-direction: column;

            p {
                margin: 0;
                background-color: var(--fg);
            }
        }
    }

}

@media screen and (max-width:700px) {
    .book {
        width: 100%;
        flex-direction: column;
        align-items: center;
        text-align: center;

        &>div {
            flex-direction: column;
            margin: 0;

            &>div {
                flex-direction: column;
                align-items: center;

                .genres {
                    justify-content: center;
                }
            }

            .capsule {
                justify-content: center;
            }

            .bookOpt {
                justify-content: center;
                flex-wrap: wrap;
                text-align: center;
                margin: 1rem 0;

                p {
                    margin: 0;
                }

                span {
                    width: 100%;
                    color: inherit;
                }
            }
        }

        .about {
            display: flex;
            flex-direction: column-reverse;
        }
    }
}