.manga {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 80%;

    .library {
        gap: .7rem;
        display: grid;
        place-items: center;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        align-items: center;
    }

    h2 {
        font-size: 42px;
        margin-left: 1rem;
    }
}