.tops,
.tops_dark {

    display: grid;
    grid-template-columns: 1fr 2fr;
    place-items: center;
    background-color: var(--fg-comp);
    color: var(--font-alt);
    height: 350px;
    width: 97%;
    margin: 0 auto;

    img {
        border-radius: 10px;
        width: 100%;
        object-fit: contain;
        border-radius: 5px;
        aspect-ratio: 1.5 / 2;
    }

    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;

        h4 {
            margin: 0 .4rem;
            font-size: 27px;
        }

        h5 {
            margin: .4rem;
        }

        p {
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            width: 90%;
        }
    }

}

.tops_dark {
    background-color: var(--bg-comp);
}

@media screen and (max-width:700px) {

    .tops,
    .tops_dark {
        width: 100%;
        margin: 0 auto;
        height: 440px;
        border-radius: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;

        img {
            width: 100% !important;
            aspect-ratio: inherit;
        }

        .info {
            position: absolute;
            bottom: 30px;
            left: 0;

            h4,
            h5 {
                text-shadow: 1px 1px #000, -1px 1px #000, -1px -1px #000, 1px -1px #000;
            }
        }
    }
}