.genres {

    h2 {
        font-size: 40px;
        margin: 1rem .5rem;
    }
    &>div {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        font-size: 14px;
        justify-content: space-between;

        a {
            padding: .5rem;
            border-radius: 10px;
            color: var(--font-alt);
            background-color: var(--bg-comp);
        }
    }
}