
/* Colors */

:root {
  --bg-dark: #14141f;
  --bg-dark-comp: #1d1d2e;
  --color: #fff;
  --fg-dark: #444469;
}







html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    line-height: 1.4;
}


@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap');


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", "Open sans", sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
