/* Colors */

:root {
  --bg: #fdfdfd;
  --font: #1d1d1d;
  --bg-comp: #47637D;
  --fg: #5F96C9;



  // For Dark Theme
  --bg-dark: #14141f;
  --font-alt: #fefefe;
  --fg-dark: #444469;

}

body.dark-mode {
  background-color: var(--bg-dark);
  color: var(--font-alt);
  --bg-comp: #27273F;

}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.4;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins&display=swap');

input {
  font-family: "poppins", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

svg {
  path {
    pointer-events: none;
  }
}