/* Colors */

:root {
  --bg: #fdfdfd;
  --color: #fff;
  --color-black: #000;
  --fg: #2E356E;
  --fg-comp: #25283D;
  --fg-alt: #3d4791;



  // For Dark Theme
  --bg-dark: #0b0b13;
  --fg-dark: #444469;

}

body.dark-mode {
  background-color: var(--bg-dark);
  color: var(--color);

}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.4;
  transition: color .2s ease-out, background-color .2s ease-out;
  font-family: "Open sans", "Segoe UI", sans-serif
}


input {
  font-family: "poppins", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

svg {
  path {
    pointer-events: none;
  }
}