.home {
    padding: 2rem 0;

    .hold {

        margin: 1.4rem 0;

        .hold_margin {
            margin: 6rem 0;
        }

    }

    .more {
        text-align: center;
        margin-bottom: 2rem;

        h4 {
            font-size: 32px;
        }

        a {
            &:hover {
                background-color: var(--bg-comp);
            }

            background-color: var(--fg);
            padding: 1rem;
            border-radius: 10px;
            align-items: center;
            display: inline-flex;
            gap: 10px;
            font-size: 20px;
            transition: background-color .3s ease;
        }
    }
}

@media screen and (max-width:400px) {
    .home {

        .hold {

            &>h2,
            &>h4 {
                text-align: center;
            }

        }
    }
}