.home {
    padding: 1.5rem 0;

    .hold {

        margin: 1.4rem 0;

        .hold_margin {
            margin: 4rem 0;

            h3 {
                margin: 0 0 1rem 4rem;
                font-size: 25px;
            }
        }

    }

    .more {
        text-align: center;
        margin-bottom: 2rem;

        h4 {
            font-size: 32px;
        }

        a {
            &:hover {
                background-color: var(--fg-alt);
            }

            background-color: var(--fg);
            color: var(--color);
            padding: 1rem;
            border-radius: 10px;
            align-items: center;
            display: inline-flex;
            gap: 10px;
            font-size: 20px;
            transition: background-color .3s ease-out;
        }
    }
}

@media screen and (max-width:400px) {
    .home {

        .hold {

            &>h2,
            &>h4 {
                text-align: center;
            }

        }
    }
}