.modal {
    z-index: 200;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    cursor: default;
    background-color: #00000040;
    transition: background-color .2s ease-out;


    &>span {
        position: absolute;
        left: 5px;
        top: 70px;
        border: 2px solid #242424;
        gap: 5px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        color: var(--color-black);


        padding: 1rem;
        border-radius: 10px;
        background-color: var(--bg);

        svg {
            pointer-events: none;
        }

        p,
        a {
            &:hover {
                background-color: #ccc;
                cursor: pointer;
            }

            font-weight: bolder;
            border-radius: 30px;
            display: flex;
            justify-content: space-between;

            padding: .5rem .7rem;
            gap: 10px;
            transition: background-color .2s ease-out,
            color .2s ease-out;

            margin: 0;

            svg {
                min-width: 30px;
            }

        }

        .menu {
            margin: 1rem 0;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;
        }

    }

}

@media screen and (max-width: 700px) {
    .modal {
        &>span {
            width: calc(100vw - 25px);
            border-radius: 0;
            margin: 0;
            right: 0;
        }
    }
}